<div class="body_content">
    <app-header></app-header>

    <div class="shadow chat_maincontent">
        <div class="pink_bar chat_pinkbar">CHAT HERE</div>
        <div class="contact_main">
            <div class="contact_history">
                <div class="contact_history_bar">CONTACT HISTORY</div>
                <div class="contact_history_pink">
                    <p>Anonomus User1</p>
                    <div>10:00AM 10-05-19</div>
                    <img class="bin" src="assets/images/bin.png">
                </div>
                <p class="contact_historyP">Anonomus User1</p>
                <div class="contact_historyDiv">10:00AM 10-05-19</div>
            </div>
            <div id="scroll_view" class="chat_width">
                <div class="chat_window chatting_window">
                    <p>
                        <img class="contact_img" src="assets/images/person1.png">
                        <span class="contact_messagebox">Anonomus User1
                            <br>
                            <span class="chatting_time">10-05-19 05:30PM</span>
                            <br>
                            <span class="chatting_text">This is My Comment for this profile This is for long Comments.</span>
                            <img class="chat_smile" src="assets/images/love.png">
                            <img class="chat_smile" src="assets/images/love.png">
                            <img class="chat_smile" src="assets/images/love.png">
                            <span class="chatting_reply">Replies(0)</span>
                        </span>
                        <br>
                    </p>

                    <p>
                        <img class="contact_img" src="assets/images/person2.png">
                        <span class="contact_messagebox">Anonomus User1
                            <br>
                            <span class="chatting_time">10-05-19 05:30PM</span>
                            <br>
                            <span class="chatting_text">This is My Comment for this Profile.</span>
                            <img class="chat_smile" src="assets/images/tongue.png">
                            <span class="chatting_reply">Replies(1)</span>
                        </span>
                        <br>
                    </p>

                    <p class="chat_window_p3">
                        <img class="contact_img" src="assets/images/person3.png">
                        <span class="contact_messagebox">Anonomus User1
                            <br>
                            <span class="chatting_time">10-05-19 05:30PM</span>
                            <br>
                            <span class="chatting_text">This is My Comment for this Profile.</span>
                        </span>
                    </p>

                    <div>
                        <img class="contact_img" src="assets/images/person4.png">
                        <span class="nick_name">Nick Name</span>                            
                        <input type="text">
                        <br>
                        <textarea></textarea>
                        <img class="smile_content" src="assets/images/imerticon.png">
                    </div>
                </div>
            </div>
            <form class="chat_send_form">
                <input type="text" name="">
                <img src="assets/images/pin.png">
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>