<div class="body_content">
    <app-header></app-header>
    
    <div class="shadow sign-btn-group" style="height: 300px;">
    
        <div class="tab-content sing-tab-content">
            <div id="menu1" class="tab-pane fade sign-menu in active">
                <h2>Reset Password</h2>
                <form action="" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="password" class="form-control sign-emailAddress" placeholder="Enter Password" [formControl]="password">
                        <input type="password" class="form-control " placeholder="Enter confirm password" [formControl]="confirm_password">
                    </div>
                    <button type="submit" class="btn btn-primary">Change</button>
                </form>
            </div>
        </div>
    </div>
    
</div>