<div class="body_content">
    <app-header></app-header>

    <div class="main profile_m">
        <div>
            <div class="boy_test">
                <h4>Boys Testimonial</h4>
                <p><img src="assets/images/plus.png"><a href="#">Add New</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Search Now</a></p>
            </div>
            <button class="pause_btn">LIVE</button>
            <div class="credit">
                <h4>Account Credit</h4>
                <p><img src="assets/images/plus.png"><a href="#">Add Credit</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>$100.00</span></p>
            </div>
        </div>
        <div class="navbar_btm midnav shadow">
            <ul>
                <li>PREVIEW</li>
                <li>EDIT</li>
                <li class="midnav_active">PAYMENT</li>
            </ul>
        </div>
        <div id="paymentHistory">
            <div class="pre_profile shadow pre_profile_phistory">
                <div class="payment_history_body">
                    <div class="payment_history_bodyDiv1">
                        <h3>Recharge Account Here!</h3>
                        <p>Select a Package and Receive a Bouns Credit</p>
                    </div>
                    <div class="payment_history_bodyDiv2">
                        <h3>YOUR CURRENT:  <span>$100.00</span></h3>
                        <a href="#">Transaction Details</a>
                    </div>
                </div>
                <div class="payment_history_bodyDiv3">
                    <input type="date" name="" placeholder="Date from">
                    <input id="payment_history_bodyDiv3_input" type="date" name="" placeholder="Date from">
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Type</th>
                            <th>Money</th>
                            <th>Additional Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                        <tr>
                            <td>7-1-2019</td>
                            <td>06:51 PM</td>
                            <td>Debit</td>
                            <td>1.5</td>
                            <td>User fees</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <span>Items per page: 10</span><span id="history_pagenation">1 - 10 of 202</span>
                    <a href="#">❮</a>
                    <a href="#">❯</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
