<div class="body_content">
    <app-header></app-header>
    
    <div class="shadow sign-btn-group">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Sign Up</a></li>
            <li><a data-toggle="tab" href="#menu1">Sign In</a></li>
        </ul>
    
        <div class="tab-content sing-tab-content">
            <div id="home" class="tab-pane fade in active">
                <h2 class="sign-create">Create Your Account</h2>
                <p class="sign-select">Please Select Account Type</p>
                <form action="" (ngSubmit)="onRegister()" [formGroup]="signupForm">
                    <div class="form-group">
                        <div class="form-group form-check">
                            <label class="form-check-label" style="display: inline-block;">
                                <input class="form-check-input" type="radio" formControlName="usertype" value="1"> 
                            </label><span class="form-check-label-l"> Advertise</span>
                            <label class="form-check-label"  style="display: inline-block;">
                                <input class="form-check-input" type="radio" formControlName="usertype" value="0"> 
                            </label><span class="form-check-label-l"> Browser</span>
                        </div>
                        <input type="email" class="form-control sign-firstName" placeholder="First name*" formControlName="firstname">
                        <input type="email" class="form-control sign-lastName" placeholder="Last Name*" formControlName="lastname">
                        <input type="email" class="form-control sign-email" placeholder="Enter email" formControlName="email">
                        <input type="password" class="form-control sign-password" placeholder="Enter password" formControlName="password">
                        
                        <label class="form-check-label sign-form-label" style="display: inline-block;">
                            <input class="form-check-input" type="checkbox" name="remember" style="margin-top: 15px;">
                            <span class="sign-span" style="padding-left: 10px;">I accept the <a href="#">Terms and Conditions</a></span>
                        </label>
                        
                    </div>
                    <button type="submit" class="btn btn-primary sign-btn-signUp">Sign Up</button>
                </form>
            </div>
            <div id="menu1" class="tab-pane fade sign-menu">
                <h2>Log In</h2>
                <form action="" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <input type="email" class="form-control sign-emailAddress" placeholder="Email Address*" [formControl]="email">
                        <input type="password" class="form-control" placeholder="Password*" [formControl]="password">
                        <a href="#">Forgot your password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
    
</div>