<div class="body_content">
    <app-header></app-header>

    <div class="main profile_m">
        <div>
            <div class="boy_test">
                <h4>Boys Testimonial</h4>
                <p><img src="assets/images/plus.png"><a href="#">Add New</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Search Now</a></p>
            </div>
            <button class="pause_btn">PAUSE AD</button>
            <div class="credit">
                <h4>Account Credit</h4>
                <p><img src="assets/images/plus.png"><a href="#">Add Credit</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>$100.00</span></p>
            </div>
        </div>
        <div class="navbar_btm midnav shadow">
            <ul>
                <li>PREVIEW</li>
                <li class="midnav_active">EDIT</li>
                <li>PAYMENT</li>
            </ul>
        </div>
        <div id="edit">
            <div class="shadow live_bar">
                YOUR PROFILE IS LIVE
                <div>
                    <img src="assets/images/up_arrow.png">
                    <p class="live_barP">$0.00</p>
                    <p class="live_barP1">BUMP UP</p>
                </div>
            </div>
            <p class="profile_expire">
            Your Profile will Expire in 7days, Please Login to Repost.
            </p>
            <div class="pre_profile shadow pre_profile_edit">
                <div class="float">
                    <div class="pumpup wow fadeInRight" data-wow-delay="0.2s">
                        <p id="pump_p">Profile Pump Up Auto Cycle</p>
                        <select>
                            <option>Min</option>
                            <option>Max</option>
                        </select>
                        <input class="pump_input" type="text" name="">
                        <div id="verify_box">
                            <button class="btn red_btn">Request Verification</button>
                            <div id="verify_boxdiv">
                                <p>Profile highlight</p>
                                <div>$10.00/week</div>
                                <div id="verify_boxdivdiv">
                                    <input class="form-check-input pump_check" type="checkbox" name="remember">
                                    <span>Auto Cycle</span><br />
                                    <span id="verify_boxspan">every week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hours hours_edit wow fadeInLeft" data-wow-delay="0.2s">
                        <img id="hours_edit_img" src="assets/images/pre_profile.png">
                        <img id="hours_edit_img1" src="assets/images/double_ribbon2.png">
                        <button class="btn red_btn">Change Profile Picture</button>
                        <h3 class="housh3">WORK HOURS</h3>
                        <div>
                            <p>MON____AM<select><option></option></select></p>
                            <span>TO____PM<select><option></option></select></span>
                        </div>
                        <div>
                            <p>MON____AM<select><option></option></select></p>
                            <span>TO____PM<select><option></option></select></span>
                        </div>
                        <div>
                            <p>MON____AM<select><option></option></select></p>
                            <span>TO____PM<select><option></option></select></span>
                        </div>
                        <div>
                            <p>MON____AM<select><option></option></select></p>
                            <span>TO____PM<select><option></option></select></span>
                        </div>
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.2s">
                        <button class="btn red_btn">Change Name</button>
                        <button class="btn red_btn">Change Password</button>
                        <button class="btn red_btn">Change Email</button>
                        <button class="btn red_btn red_btn_location" data-target="#locationModal" data-toggle="modal"><img src="assets/images/location_white.png"> Change Location</button>
                    </div>
                    <!-- Modal -->
                    <div id="locationModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Location</h4>
                            </div>
                            <div class="modal-body">
                              <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" style="margin-bottom: 0px;" (click)="updateLocation()">Update</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                        </div>
                    </div>
                    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">


                        <div class="wow fadeInRight user_profile_container" data-wow-delay="0.6s">
                            <div class="info dissama">
                                <div formArrayName="mandatory_values">
                                    <div *ngFor="let item of mandatory; index as i">
                                        <p>{{item.name}}</p>
                                        <input type="" formControlName="{{i}}">
                                    </div>
                                </div>
                                <div formArrayName="dropdown_values">
                                    <div *ngFor="let item of dropdowns; index as i">
                                        <p>{{item.name}}</p>
                                        <select class="select2" multiple="multiple" formControlName="{{i}}">
                                            <option *ngFor="let value of item.values">{{value}}</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="other_contact">
                                <p>OTHER CONTACTS</p>
                                <div formArrayName="contacts_values">
                                    <div *ngFor="let item of contacts; index as i">
                                        <img src="{{item.values}}"> <input formControlName="{{i}}">
                                    </div>
                                </div>
                                <button class="btn red_btn save_btn">Save</button>
                            </div>
                        </div>
                    </form>
                    <div>
                        <div class="pink_bar1">Service selection</div>
                        <div class="form-group form-check service_check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember">
                                <span> Service1</span>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember">
                                <span> Service1</span>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember">
                                <span> Service1</span>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember">
                                <span> Service1</span>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember">
                                <span> Service1</span>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember">
                                <span> Service1</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="pink_bar1">About me</div>
                        <div id="widget">
                            <img src="assets/images/format.png">
                        </div>
                        <button class="btn red_btn save_btn save_btn1">Add Video</button>
                        <button class="btn red_btn save_btn save_btn2">Save</button>
                    </div>
                    <div>
                        <div class="pink_bar1">Photo Gallery</div>
                        <div class="upload_btn"><button class="btn red_btn save_btn">Upload</button></div>
                        <div class="upload_photo">
                            <div class="upload_photo_div">
                                <img class="shadow" src="assets/images/pre_profile_c.png">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="remember">
                                        <span> LOCK</span>
                                    </label>
                                    <a href="#">DELET</a>
                                </div>
                            </div>
                            <div class="upload_photo_div">
                                <img class="shadow" src="assets/images/pre_profile_c.png">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="remember">
                                        <span> LOCK</span>
                                    </label>
                                    <a href="#">DELET</a>
                                </div>
                                <img class="upload_ribbon" src="assets/images/lock1.png">
                            </div>
                            <div class="upload_photo_div">
                                <img class="shadow" src="assets/images/pre_profile_c.png">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="remember">
                                        <span> LOCK</span>
                                    </label>
                                    <a href="#">DELET</a>
                                </div>
                            </div>
                            <div class="upload_photo_div">
                                <img class="shadow" src="assets/images/pre_profile_c.png">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="remember">
                                        <span> LOCK</span>
                                    </label>
                                    <a href="#">DELET</a>
                                </div>
                            </div>
                            <div class="upload_photo_div">
                                <img class="shadow" src="assets/images/pre_profile_c.png">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="remember">
                                        <span> LOCK</span>
                                    </label>
                                    <a href="#">DELET</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat_body">
                    <div class="pink_bar">Comments</div>
                    <div class="pink_bar pink_bar_btm">
                        <div (click)="chooseTypeReview('comment');" [ngClass]="{'active': reviewSelected==='comment'}">Comments</div>
                        <div (click)="chooseTypeReview('complaint');" [ngClass]="{'active': reviewSelected==='complaint'}">Complaints (0)</div>
                    </div>
                    <div class="chat_window" *ngIf="reviewSelected==='comment'">
                        <p *ngFor="let item of comments">
                            <img class="contact_img" src="assets/images/person1.png">
                            <span class="contact_messagebox">{{item.username}}
                                <br>
                                <span class="chatting_time">{{item.created_at}}</span>
                                <br>
                                <span class="chatting_text">{{item.notes}}</span>
                            </span>
                            <br>
                        </p>
                        <form (ngSubmit)="submitReview('comment')">
                            <div>
                                <img class="contact_img" src="assets/images/person4.png">
                                <span class="nick_name">Nick Name</span>
                                <input type="text" [formControl]="comment_name">
                                <!-- <button
                                    type="button"
                                    class="toggle-emoji"
                                    (click)="toggleEmojiPicker()"
                                    >
                                    sdf
                                </button> -->
                                <emoji-mart class="emoji-mart" set="emojione" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker" title="Pick your emoji…"></emoji-mart>
                                
                                <textarea placeholder="Type a message. Hit Enter to send" [formControl]="comment_message"></textarea>
                            </div>
                            
                            <button class="chat_body_btn" type="submit">Submit</button>
                        </form>
                        
                    </div>
                    <div class="chat_window" *ngIf="reviewSelected==='complaint'">
                        <p *ngFor="let item of complaints">
                            <img class="contact_img" src="assets/images/person1.png">
                            <span class="contact_messagebox">{{item.username}}
                                <br>
                                <span class="chatting_time">{{item.created_at}}</span>
                                <br>
                                <span class="chatting_text">{{item.notes}}</span>
                            </span>
                            <br>
                        </p>
                        <form (ngSubmit)="submitReview('complaint')">
                            <div>
                                <img class="contact_img" src="assets/images/person4.png">
                                <span class="nick_name">Nick Name</span>
                                <input type="text" [formControl]="complaint_name">
                                <br>
                                <textarea [formControl]="complaint_message"></textarea>
                            </div>
                            <button class="chat_body_btn" type="submit">Submit</button>
                        </form>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
