<div class="body_content">
    <app-header></app-header>
    
    <div class="shadow sign-btn-group" style="height: 300px;">
    
        <div class="tab-content sing-tab-content">
            <div id="menu1" class="tab-pane fade sign-menu in active">
                <h2>Password Recovery</h2>
                <form action="" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="email" class="form-control sign-emailAddress" placeholder="Email Address*" [formControl]="email">
                    </div>
                    <button type="submit" class="btn btn-primary">Sent Email</button>
                </form>
            </div>
        </div>
    </div>
    
</div>