<!-- BEGIN: Main Menu-->
<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow menu-border" role="navigation" >
    <!-- Horizontal menu content-->
    <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
        <!-- include ../../../includes/mixins-->
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="ft-home"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/user"><i class="ft-user"></i><span>User</span></a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/contact"><i class="ft-users"></i><span>Contacts</span></a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/fields"><i class="ft-layout"></i><span>Fields</span></a>
            </li>
        </ul>
    </div>
    <!-- /horizontal menu content-->
</div>
<!-- END: Main Menu-->