
<div class="body_content">
    <app-header></app-header>
    
    <div class="main">
        <div class="profile_view_left">
            <div class="left_lock shadow wow flipInY" data-wow-delay="0.2s">
                <img src="assets/images/lock.png"><br />
                <div>Some Girls Choose to Lock Their Some of their Picture for privacy purposes and will only reveal their photos to a Genuine Customers</div>
            </div>
            <p class="profile_left_recent">Recent Profiles</p>
            <div class="profile_box shadow wow flipInY" data-wow-delay="0.2s">
                <h3>Kayla Smith</h3>
                <h4><img src="assets/images/pinkpin.png">Holden Hill</h4>
                <p><img src="assets/images/yellowcircle.png">Message Me</p>
                <img class="profile_box_img" src="assets/images/kayla.png">
                <span class="profile_box_span">Age</span>
                <span class="profile_box_span1">20-25</span>
            </div>
            <div class="profile_box shadow wow flipInY" data-wow-delay="0.2s">
                <h3>Kayla Smith</h3>
                <h4><img src="assets/images/pinkpin.png">Holden Hill</h4>
                <p><img src="assets/images/yellowcircle.png">Message Me</p>
                <img class="profile_box_img" src="assets/images/kayla.png">
                <span class="profile_box_span">Age</span>
                <span class="profile_box_span1">20-25</span>
            </div>
            <div class="profile_box shadow wow flipInY" data-wow-delay="0.2s">
                <h3>Kayla Smith</h3>
                <h4><img src="assets/images/pinkpin.png">Holden Hill</h4>
                <p><img src="assets/images/yellowcircle.png">Message Me</p>
                <img class="profile_box_img" src="assets/images/kayla.png">
                <span class="profile_box_span">Age</span>
                <span class="profile_box_span1">20-25</span>
            </div>
        </div>
        <div class="pre_profile">
            <div class="float">
                <div class="hours wow fadeInLeft" data-wow-delay="0.2s">
                    <img class="hours_img" src="assets/images/pre_profile.png">
                    <img class="hours_ribbon" src="assets/images/double_ribbon2.png">
                    <div class="hours_small">
                        <img class="hours_small1" src="assets/images/pre_profile_s.png">
                        <img src="assets/images/pre_profile_s.png">
                        <img src="assets/images/pre_profile_s.png">
                    </div>
                    <h3>Work Hours</h3>
                    <div><p>Mon 10:00</p>   <span>AM–8:00 PM</span></div>
                    <div><p>Wed 10:00</p>   <span>AM–8:00 PM</span></div>
                    <div><p>Thu&nbsp; 10:00</p>   <span>AM–8:00 PM</span></div>
                    <div><p>Fri&nbsp;&nbsp;&nbsp; 10:00</p>   <span>AM–8:00 PM</span></div>
                    <div><p>Sat&nbsp;&nbsp; 10:00</p>   <span>AM–8:00 PM</span></div>
                    <div><p>Sun&nbsp; 10:00</p>   <span>AM–8:00 PM</span></div>
                </div>
                <div class="preview_top_right wow fadeInRight" data-wow-delay="0.2s">
                    <div class="comment_boxdiv">
                        <img class="pre_browser_divimg" src="assets/images/comment.png">
                        <p class="chat_comment">Chat Here</p>
                    </div>
                    <h2>GEORGIA SMITHS<p>Online</p></h2><br />
                    <div class="info">
                        <span class="p_infomamtion">
                            <img src="assets/images/location.png">
                            <h5>Suburb</h5><h4>Bedford Park</h4>
                        </span><br />
                        <div><p>Damage</p>   <span>180/1</span></div>
                        <div><p>Age</p>   <span>20-22</span></div>
                        <div><p>VBSive</p>   <span>34D</span></div>
                        <div><p>Room & CD</p>   <span>Included</span></div>
                        <div><p>Service Location</p>   <span>Hotel Apparement</span></div>
                    </div>
                    <div class="info info_top_margin">
                        <span class="p_infomamtion">
                            <img class="info_img_size" src="assets/images/phone.png">
                            <h4 class="info_h4_margin">Contact Info</h4>
                        </span><br />
                        <div><p>Preffered Contact Method</p>   <span>Call&Text</span></div>
                        <div><p>Mobile number</p>   <span>0411-163-588</span></div>
                        <a href="#">Click Here To Reveal...</a>
                    </div>
                    <div class="other_contacts">
                        <p>Other Contacts</p>
                        <span><img src="assets/images/message.png"> 0411-163-588</span>
                        <span class="other_contacts_span"><img src="assets/images/call.png"> 0411-163-588</span>
                    </div>
                </div>
            </div>
            <div class="pre_mid_profile">
                <div class="pink_bar">Profile Details</div>
                <div class="profile_detail_contain">
                    <h3>My Services</h3>
                    <span><img src="assets/images/check.png"> &nbsp;Testing Longone&nbsp;&nbsp;</span>
                    <span><img src="assets/images/check.png"> &nbsp;Testing Longone&nbsp;&nbsp;</span>
                    <span><img src="assets/images/check.png"> &nbsp;Testing Longone&nbsp;&nbsp;</span>
                    <span><img src="assets/images/check.png"> &nbsp;Testing Longone&nbsp;&nbsp;</span>
                    <span><img src="assets/images/check.png"> &nbsp;Testing Longone&nbsp;&nbsp;</span>
                    <h4>About Me</h4>
                    <p><b>This is a dummy paragraph for display purposes only.</b><br /><br />This is a dummy paragraph for display purposes only.This is a dummy paragraph for display purposes only.This is a dummy paragraph for display purposes only.This is</p>
                    <p class="p_bold">dummy paragraph for display purposes only.
                        <img src="assets/images/smile.png">
                    </p>
                </div>
            </div>
            <div class="info_top_margin">
                <div class="pink_bar">Image Gallery</div>
                <div class="gallery_img_grp">
                    <img class="wow flipInY" data-wow-delay="0.4s" src="assets/images/pre_profile_c.png" data-toggle="modal" data-target="#galleryModal_unlocked">
                    <img class="wow flipInY" data-wow-delay="0.6s" src="assets/images/pre_profile_b.png" data-toggle="modal" data-target="#galleryModal">
                    <img class="wow flipInY" data-wow-delay="0.8s" src="assets/images/pre_profile_c.png" data-toggle="modal" data-target="#galleryModal_unlocked">
                    <img class="wow flipInY" data-wow-delay="1s" src="assets/images/pre_profile_b.png" data-toggle="modal" data-target="#galleryModal">
                    <img class="wow flipInY" data-wow-delay="1.2s" src="assets/images/pre_profile_b.png" data-toggle="modal" data-target="#galleryModal">
                    <img class="wow flipInY" data-wow-delay="0.4s" src="assets/images/pre_profile_c.png" data-toggle="modal" data-target="#galleryModal_unlocked">
                    <img class="wow flipInY" data-wow-delay="0.6s" src="assets/images/pre_profile_b.png" data-toggle="modal" data-target="#galleryModal">
                    <img class="wow flipInY" data-wow-delay="0.8s" src="assets/images/pre_profile_c.png" data-toggle="modal" data-target="#galleryModal_unlocked">
                    <img class="wow flipInY" data-wow-delay="1s" src="assets/images/pre_profile_b.png" data-toggle="modal" data-target="#galleryModal">
                    <img class="wow flipInY" data-wow-delay="1.2s" src="assets/images/pre_profile_b.png" data-toggle="modal" data-target="#galleryModal">
                </div>
            </div>
            <div class="chat_body chat_margin_l">
                <div class="pink_bar">Comments</div>
                <div class="pink_bar pink_bar_btm">
                    <div>Comments (10)</div>
                    <span>Complaints (0)</span>
                </div>
                <div class="chat_window">
                    <p>
                        <img class="contact_img" src="assets/images/person1.png">
                        <span class="contact_messagebox">Anonomus User1
                            <br>
                            <span class="chatting_time">10-05-19 05:30PM</span>
                            <br>
                            <span class="chatting_text">This is My Comment for this profile This is for long Comments.</span>
                            <img class="chat_smile" src="assets/images/love.png">
                            <img class="chat_smile" src="assets/images/love.png">
                            <img class="chat_smile" src="assets/images/love.png">
                            <span class="chatting_reply">Replies(0)</span>
                        </span>
                        <br>
                    </p>

                    <p>
                        <img class="contact_img" src="assets/images/person2.png">
                        <span class="contact_messagebox">Anonomus User1
                            <br>
                            <span class="chatting_time">10-05-19 05:30PM</span>
                            <br>
                            <span class="chatting_text">This is My Comment for this Profile.</span>
                            <img class="chat_smile" src="assets/images/tongue.png">
                            <span class="chatting_reply">Replies(1)</span>
                        </span>
                        <br>
                    </p>

                    <p class="chat_window_p3">
                        <img class="contact_img" src="assets/images/person3.png">
                        <span class="contact_messagebox">Anonomus User1
                            <br>
                            <span class="chatting_time">10-05-19 05:30PM</span>
                            <br>
                            <span class="chatting_text">This is My Comment for this Profile.</span>
                        </span>
                    </p>

                    <div>
                        <img class="contact_img" src="assets/images/person4.png">
                        <span class="nick_name">Nick Name</span>                            
                        <input type="text">
                        <br>
                        <textarea></textarea>
                        <img class="smile_content" src="assets/images/imerticon.png">
                    </div>
                </div>
                <button class="chat_body_btn">Submit</button>
            </div>
        </div>
    </div>
</div>