<div class="body_content">
    <app-header></app-header>

    <div class="main">
        <div class="profile_view_left">
            <div class="left_lock shadow wow flipInY" data-wow-delay="0.2s">
                <img src="assets/images/lock.png"><br />
                <div>Some Girls Choose to Lock Their Some of their Picture for privacy purposes and will only reveal their photos to a Genuine Customers</div>
            </div>
            <p class="profile_left_recent">Recent Profiles</p>
            <div class="profile_box shadow wow flipInY" data-wow-delay="0.2s">
                <h3>Kayla Smith</h3>
                <h4><img src="assets/images/pinkpin.png">Holden Hill</h4>
                <p><img src="assets/images/yellowcircle.png">Message Me</p>
                <img class="profile_box_img" src="assets/images/kayla.png">
                <span class="profile_box_span">Age</span>
                <span class="profile_box_span1">20-25</span>
            </div>
            <div class="profile_box shadow wow flipInY" data-wow-delay="0.2s">
                <h3>Kayla Smith</h3>
                <h4><img src="assets/images/pinkpin.png">Holden Hill</h4>
                <p><img src="assets/images/yellowcircle.png">Message Me</p>
                <img class="profile_box_img" src="assets/images/kayla.png">
                <span class="profile_box_span">Age</span>
                <span class="profile_box_span1">20-25</span>
            </div>
            <div class="profile_box shadow wow flipInY" data-wow-delay="0.2s">
                <h3>Kayla Smith</h3>
                <h4><img src="assets/images/pinkpin.png">Holden Hill</h4>
                <p><img src="assets/images/yellowcircle.png">Message Me</p>
                <img class="profile_box_img" src="assets/images/kayla.png">
                <span class="profile_box_span">Age</span>
                <span class="profile_box_span1">20-25</span>
            </div>
        </div>
        <div class="shadow search_box">
            <div class="search_box_left">
                <div>Search Here</div>
                <img src="assets/images/search.png">
                <p>Map View</p>
            </div>
            <div class="search_request">
                <form class="search_form">
                    <input class="search_input1" type="text" name="name" placeholder="Name">
                    <input class="search_input2"  type="text" name="name" placeholder="Age">
                    <input class="search_input3" type="text" name="name" placeholder="To">
                    <input class="search_input4" type="text" name="name" placeholder="Height">
                    <input type="text" name="name" placeholder="To">
                    <input class="search_input5" type="text" name="name" placeholder="Location">
                    <input class="search_input6" type="text" name="name" placeholder="Within">
                </form>                
            </div>
            <ul class="checkbox">
                <li><img src="assets/images/checkbox.png" /><div>KISS</div></li>
                <li><img src="assets/images/checkbox.png" /><div>BD</div></li>
                <li><img src="assets/images/checkbox.png" /><div>ST</div></li>
                <li><img src="assets/images/checkbox.png" /><div>CBJ</div></li>
                <li><img src="assets/images/checkbox.png" /><div>BBBJ</div></li>
                <li><img src="assets/images/checkbox.png" /><div>DEEP T</div></li>
                <li><img src="assets/images/checkbox.png" /><div>GF Exp</div></li>
                <li><img src="assets/images/checkbox.png" /><div>test</div></li>
                <li><img src="assets/images/checkbox.png" /><div>test1</div></li>
            </ul>
        </div>
        <div class="report_form shadow wow fadeInRight" data-wow-delay="0.2s">
            <p>Hi People, Please Report any fake Profiles, or Technical issues....</p>
            <button>REPORT</button>
        </div>
        <div class="top_profile shadow wow fadeInRight" data-wow-delay="0.4s">
            <div class="top_profile_leftdiv">
                <h2>TOP PROFILE</h2>
                <img src="assets/images/kayla.png">
            </div>
            <div class="top_profile_middiv">
                <div class="top_profile_middiv1">
                    <h2>Kayla Smith</h2>
                    <h3><img src="assets/images/pinkpin.png">Holden Hill</h3>
                    <h5><img src="assets/images/greencircle.png"> Online</h5>
                    <span><img src="assets/images/heart.png">20</span>
                    <span><img src="assets/images/broken_heart.png">1</span>
                    <h4>Recent Comment</h4>
                </div>
                <div class="top_profile_middiv2">
                    <h3>Contact No</h3>
                    <h4>0411xxxxxxx</h4>
                    <h5>Reveal Number</h5>
                </div>
                <div class="top_profile_middiv3">
                    <h3>Anonomus User1</h3>
                    <h4>10-05-19 05:30PM</h4>
                    <h5>This is My Comment for this Profile.</h5>
                </div>
            </div>
            <div class="top_profile_rightdiv">
                <img src="assets/images/arrow_l.png">
                <img class="top_profile_rightdiv_img" src="assets/images/kayla1.png">
                <img class="top_profile_rightdiv_img" src="assets/images/kayla1.png">
                <img class="top_profile_rightdiv_img" src="assets/images/kayla1.png">
                <img class="top_profile_rightdiv_img1" src="assets/images/arrow_r.png">
            </div>
            <img class="top_profile_ribbon" src="assets/images/double_ribbon.png">
        </div>
        <div class="profile_container">
            <div class="p_profile shadow" *ngFor="let profile of profiles">
                <h3>{{profile.firstname}} {{profile.lastname}}</h3>
                <div class="p_profile_div_btm">
                    <h4><img src="assets/images/greencircle.png">Online</h4>
                    <p><img src="assets/images/pinkpin.png">{{profile.suburb}} {{profile.state}}</p>
                    <img class="p_profile_kayla_png" src="assets/images/kayla.png">
                    <div>
                        <h5>$200
                            <span>
                                <img src="assets/images/heart.png">{{profile.comments.length}}
                                <img class="broken_heart_png" src="assets/images/broken_heart.png">{{profile.complaints.length}}
                            </span>
                        </h5>
                    </div>
                    <div style="margin-top: 5px;">
                        <span class="p_profile_kayla_span">Ethnicity</span>
                        <span class="p_profile_kayla_span1">White</span>
                    </div>
                    <div>
                        <span class="p_profile_kayla_span">Age</span>
                        <span class="p_profile_kayla_span1">30-35</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>