<div class="body_content">
    <app-header></app-header>

    <div class="main browser_main">
        <div class="float">
            <div class="credit">
                <h4>Account Credit</h4>
                <p><img src="assets/images/plus.png"><a href="#">Add Credit</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>$100.00</span></p>
            </div>
        </div>
        <div class="navbar_btm midnav shadow">
            <ul>
                <li class="midnav_active">PREVIEW</li>
                <li>EDIT</li>
                <li>PAYMENT</li>
            </ul>
        </div>
        <div id="preview">
            <div class="pre_profile shadow pre_browser">
                <div class="pre_browser_div">
                    <img class="wow bounceInLeft pre_browser_img" data-wow-delay="0.1s" src="assets/images/pre_profile.png">
                    <div class="pre_browser_divdiv wow bounceInRight" data-wow-delay="0.1s">
                        <img class="pre_browser_divimg" src="assets/images/comment.png">
                        <p class="chat_comment">Chat Here</p>
                        <h3>GEORGIA SMITHS</h3>
                        <div>
                            <span class="browser_email">Email:</span>
                            <span class="browser_hotmail">anwer_nadir2006@hotmail.com</span>
                        </div>
                        <div>
                            <span class="browser_email">Age</span>
                            <span class="browser_hotmail">20-22</span>
                        </div>
                    </div>
                </div>
                <div class="chat_body">
                    <div class="pink_bar">Comments</div>
                    <div class="pink_bar pink_bar_btm">
                        <div>Comments (10)</div>
                        <span>Complaints (0)</span>
                    </div>
                    <div class="chat_window">
                        <p>
                            <img class="contact_img" src="assets/images/person1.png">
                            <span class="contact_messagebox">Anonomus User1
                                <br>
                                <span class="chatting_time">10-05-19 05:30PM</span>
                                <br>
                                <span class="chatting_text">This is My Comment for this profile This is for long Comments.</span>
                                <img class="chat_smile" src="assets/images/love.png">
                                <img class="chat_smile" src="assets/images/love.png">
                                <img class="chat_smile" src="assets/images/love.png">
                                <a class="chatting_delete">Delete</a>
                                <a class="chatting_reply">Replies(0)</a>
                            </span>
                            <br>
                        </p>

                        <p>
                            <img class="contact_img" src="assets/images/person2.png">
                            <span class="contact_messagebox">Anonomus User1
                                <br>
                                <span class="chatting_time">10-05-19 05:30PM</span>
                                <br>
                                <span class="chatting_text">This is My Comment for this Profile.</span>
                                <img class="chat_smile" src="assets/images/tongue.png">
                                <span class="chatting_reply">Replies(1)</span>
                            </span>
                            <br>
                        </p>

                        <p class="chat_window_p3">
                            <img class="contact_img" src="assets/images/person3.png">
                            <span class="contact_messagebox">Anonomus User1
                                <br>
                                <span class="chatting_time">10-05-19 05:30PM</span>
                                <br>
                                <span class="chatting_text">This is My Comment for this Profile.</span>
                                <a class="chatting_delete">Delete</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
