/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'proximanovaA';
    src: url('assets/fonts/proxima/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf');
}

@font-face {
    font-family: 'proximanova';
    src: url('assets/fonts/proxima/ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'proximanovaT';
    src: url('assets/fonts/proxima/Proxima Nova Thin.otf');
}
