/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'feather';
    src:  url('assets/fonts/feather.eot?9xfrq8');
    src:  url('assets/fonts/feather.eot?9xfrq8#iefix') format('embedded-opentype'),
      url('assets/fonts/feather.ttf?9xfrq8') format('truetype'),
      url('assets/fonts/feather.woff?9xfrq8') format('woff'),
      url('assets/fonts/feather.svg?9xfrq8#feather') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  [class*=" ft-"], [class^=ft-] {
    font-family: feather!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ft-home:before {
    content: "\e965";
}
.ft-menu:before {
    content: "\e979";
}
.ft-user:before {
    content: "\e9d7";
}
.ft-users:before {
    content: "\e9d8";
}
.ft-layout:before {
    content: "\e96b";
}