<div class="navbar">
    <div class="navbar_top">
        <img class="img-circle nav_img" src="/assets/images/kayla.png">
        <img class="nav_img_co" src="/assets/images/circle.png">
        <span>Rose Ward</span>            
    </div>
    <div class="navbar_btm">
        <div class="navbar_btm_div">
            <div class="states" data-toggle="modal" data-target="#myModal">STATES</div>
            <ul>
                <li [ngClass]="{'nav_active': state==='SA'}">SA</li>
                <li [ngClass]="{'nav_active': state==='VIC'}">VIC</li>
                <li [ngClass]="{'nav_active': state==='NSW'}">NSW</li>
                <li [ngClass]="{'nav_active': state==='QLD'}">QLD</li>
                <li [ngClass]="{'nav_active': state==='NT'}">NT</li>
                <li [ngClass]="{'nav_active': state==='WA'}">WA</li>
                <li [ngClass]="{'nav_active': state==='TAS'}">TAS</li>
            </ul>
            <button class="set_btn">Set Default</button>
        </div>
    </div>
</div>