<div class="body_content">
    <app-header></app-header>
    <div class="shadow verification_body">
        <div class="verification_innerBody">
            <div class="verification">
                <h2>Email Verification</h2>
                <p>A Verification Code has been send to your Nominated Email.</p>
                <span>Example@Examp.com</span>
                <form action="" (ngSubmit)="onVerification()">
                    <input type="text" class="form-control" placeholder="Enter Verification Code" [formControl]="code">
                    <button type="submit" class="btn">Verify</button>
                </form>
            </div>
        </div>
    </div>
</div>